<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Profile | SkillBridge</title>
  <link rel="stylesheet" href="/styles.css">

</head>

<body>
  <%- include('partials/navbar') %>
   <main class="profile-wrap">
    


  <!-- Profile page  Content -->
  <div class="container profile-container ">
    <h2 class="mt-4">My Profile</h2>
    <% if (!profile) { %>
      <p>Profile not found.Please try to refresh the page  </p>
    <% } else { %>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Profile Picture</th>
            <th>Username</th>
            <th>Role</th>
            <th>Contact No</th>
            <th>Email</th>
            <th>Action </th>
          </tr>
        </thead>
        <tbody>
          
            <tr>
           <td>
            <img 
            src="/images/sample-profile.jpg"
            width="100"
            class="img-thumbnail"
            alt="Profile Image ">
            </td>
                <td><%= profile.username %></td>
                <td><%= profile.role %></td>
                <td><%= profile.contactNo %></td>
                <td><%= profile.email %></td>
                <td>
                  <a href="/editProfile" class="btn btn-primary">Edit Profile</a>
                </td>
            </tr>
            <% } %>
            </tbody>
            </table>
            </div> 
            
          </main>        
</body>
</html>


